name: OSV-Scanner PR Scan
on:
  schedule:
    - cron: "30 12 * * 1"

permissions:
  actions: read
  security-events: write
  contents: read

jobs:
  osv-scan:
    - name: Run OSV-Scanner
      uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.3.3"
