name: PR Checks
on:
  pull_request:
    branches: [main, dev]
    paths-ignore: ["**.md", "docs/**"]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analyze-and-test:
    runs-on:
      - self-hosted
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml
          cache: true
      - run: flutter pub get
      - run: dart format --set-exit-if-changed .
      - run: flutter analyze --fatal-infos
      - run: flutter test --coverage -concurrency=4
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  security-scan:
    runs-on:
      - self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - uses: MobSF/mobsfscan@main
        with:
          args: ". --sarif --output results.sarif || true"
      - name: Upload mobsfscan report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
          category: mobsfscan
