name: Secret Scanning
on:
  pull_request:
    branches: [dev, main]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: TruffleHog OSS Scan
        uses: trufflesecurity/trufflehog@v3
        with:
          path: ./
          base: ${{ github.base_ref }}
          head: ${{ github.head_ref }}
          extra_args: --only-verified
